/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Removing Default Browser Sytles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Main Font and color for all texts unless stated otherwise */
    font-family: 'Barlow', sans-serif;
    color: #000000;
    background-color: #ffffff;
}
/* Head */
header {
    background-color: red;
}

/* Main */
main {
    background-color: blue;
    /* Main main take up any empty space on screen */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: green;
}