/* Imported Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Removing Default Browser Sytles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Main Font and color for all texts unless stated otherwise */
    font-family: 'Barlow', sans-serif;
    color: #ffffff;
    background-color: #000000;
}

/* Header */
header {
    font-family: 'Roboto+Mono', sans-serif;
    padding-top: 5px;
    font-size: 100%;
    text-align: center;
    background: url(../images/Header\ Background.jpg) no-repeat center top/cover;
    position: fixed;
    width: 100%;
    border-bottom: 0.5px solid #ffffff;
    z-index: 99;
}

header a {
    color: #ffffff;
    text-decoration: none;
    padding-top: 2px;
}

/* Nav Bar */
nav {
    color: #ffffff;
    width: 100%;
    left: 0;
    padding: 1rem 0;
    top: 100%;
    display: none;
    border-top: 1px solid #ffffff;
}

.menu {
    display: inline-block;
    padding: 0 5px;
    list-style-type: none;
    font-size: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 150%;
}

.active {
    border-bottom: 1px solid #ffffff;
}


/* Main */
main {
    background-color: #000000;
    color: #ffffff;
    /* Main main take up any empty space on screen */
    flex: 1 0 auto;
    padding: 4.5rem 0.8rem;
}

/* Home Main */
/* Hero Image */
#hero {
    background: url(../images/Hero\ Image.webp) no-repeat center center/cover;
    height: 700px;
    width: fit-content 100%;
    position: relative;
    border: 1px solid #ffffff;
    margin-top: 15px;
}

#cover-text p {
    position: absolute;
    bottom: 10px;
}

/* Blue Dot */
#blue-dot-image {
    background: url(../images/Blue\ Dot\ Sunbeam.jpg) no-repeat center center/cover;
    height: 200px;
}

#quote i {
    font-size: 2rem;
}

#blue-dot p, #oppy p {
    text-align: center;
}

#quote-right {
    position: relative;
    left: 90%;
}

#home p, #home li, #home h2 {
    padding: 5px 5px;
}

#home h2 {
    border-top: 1px solid;
}
/* Oppy */
#oppy-selfie {
    background: url(../images/Oppy.webp) no-repeat center center/cover;
    height: 200px;
}

#home h2 {
    text-align: center;
}

/* The Universe */

#facts {
    border: 1px solid #ffffff;
}

#list {
    list-style-type: none;
}


/* Main Signup */
/* Solar System page */
#sshead {
    text-align: center;
}

/* The flip card container */
.flip-card {
    background-color: #000000;
    height: 200px;
    border: 1px solid #ffffff;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side */
/* Our Sun */
#flip-card-front-sun {
    background: url(../images/Sun.webp) no-repeat center center/cover;
    color: black;
}

/* Earth */
#flip-card-front-earth {
    background: url(../images/Earth.webp) no-repeat center center/cover;
    color: black;
}

/* Moon */
#flip-card-front-moon {
    background: url(../images/Moon.webp) no-repeat center center/cover;
    color: black;
}

/* Mercury */
#flip-card-front-mercury {
    background: url(../images/Mercury.webp) no-repeat center center/cover;
    color: black;
}

/* Venus */
#flip-card-front-venus {
    background: url(../images/Venus.webp) no-repeat center center/cover;
    color: black;
}

/* Mars */
#flip-card-front-mars {
    background: url(../images/Mars.webp) no-repeat center center/cover;
    color: black;
}

/* Jupiter */
#flip-card-front-jupiter {
    background: url(../images/Jupiter.webp) no-repeat center center/cover;
    color: black;
}

/* Saturn */
#flip-card-front-saturn {
    background: url(../images/Saturn.webp) no-repeat center center/cover;
    color: black;
}

/* Uranus */
#flip-card-front-uranus {
    background: url(../images/Uranus.webp) no-repeat center center/cover;
    color: black;
}

/* Neptune */
#flip-card-front-neptune {
    background: url(../images/Neptune.webp) no-repeat center center/cover;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: #000000;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back p {
    font-size: 90%;
    padding: 2px 2px;
}

/* Signup */
#signup-form {
    padding: 1rem 0.8rem;
    margin-top: 10px;
    border: 1px solid #ffffff;
}

.bgimg {
    background: url(../images/Signup\ background.webp) no-repeat center center/cover;
}

#topicsh3 {
    padding-bottom: 1px;
    font-size: 110%;
}

#topics {
    padding-top: 2px;
    letter-spacing: 2px;

}


/* Footer */
footer {
    background-color: #ffffff
}

#socials {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
    list-style-type: none;
}

#socials i {
    font-size: 150%;
    color: #000000;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        padding: 0.5rem 0.5rem 0.2rem 0.8rem;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: url(../images/Header\ Background.jpg) no-repeat center center/cover;
    }

    /* Nav */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 0.8rem;
        padding-top: 13px;
        border: none;
        font-size: 120%;
    }

    .nav-toggle-label {
        display: none;
    }

    .flip-card {
        width: 300px;
    }

    #nobr br {
        display: none;
    }

    #grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 15px

    }

    #cell {
        height: 200px;
        margin-bottom: 40px;
    }

    #blue-dot, #oppy {
        float: left;
        max-width: 50%;
        align-items: baseline;
        padding: 0 5px;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #nobr br {
        display: none;
    }

    #grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    #cell {
        height: 200px;
        margin-bottom: 25px;
    }

    #blue-dot, #oppy, #universe {
        float: left;
        align-items: baseline;
        padding: 0 5px;
    }

    #blue-dot {
        max-width: 25%;
    }

    #oppy {
        max-width: 20%;
    }

    #universe {
        max-width: 55%;
    }

    #facts {
        border: 1px solid #ffffff;
        height: 850px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 1200px) {
    #cell {
        height: 400px;
        width: 400px;
    }

    #nobr p {
        font-size: 150%;
    }

    #facts {
        height: 750px;
    }
}